
<!DOCTYPE html>
<html>

{% load static %}
<head>
<title>Home</title>
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all" />
<!--theme-style-->
<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/etalage.css" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script src="{% static "js/jquery.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/move-top.js" %}"></script>
<script type="text/javascript" src="{% static "js/easing.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.mousewheel.js"%}"></script>
<script type="text/javascript" src="{% static "js/jquery.contentcarousel.js"%}"></script>
<script type="text/javascript" src="{% static "js/jquery.easing.1.3.js"%}"></script>
</head>

<body> 
<!--header-->
	<div class="header">
		<div class="container">
			<div class="logo">
				<a href="#"><span class="logo-h"> <span></a>
				<h1>Brian <span>Smith</span></h1>
				<p>CLEAR THINKING <span>MADE VISUAL</span></p>
			</div>
		</div>
		<label class="line"> </label>
	</div>
	<div class="header-bottom">
		<div class="container">
			<div class="logo-bottom">
				<a href="#"><img src="{% static "images/logo-1.png" %}" alt=" " /></a>
			</div>
			<div class="top-nav">
				<span class="menu"> </span>
				<ul>
					<li ><a href="#" class="scroll">Home</a></li>
					<li><a href="#about" class="scroll">About</a> </li>
					<li><a href="#portfolio" class="scroll">Portfolio</a></li>
					<li><a href="#study" class="scroll">Case study</a></li>
					<li><a href="#contact" class="scroll">Contact </a></li>
				</ul>
				<!-- script-nav -->
			<script>
			$("span.menu").click(function(){
				$(".top-nav ul").slideToggle(500, function(){
				});
			});
			</script>
				<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!--//header-->
<!--content-->
	<div class="content">
		<div class="container">
			<div class="about-us" id="about">		
				<div class="about">
					<h3>DESIGN IS <span>MY PASSION</span></h3>
					<p>Lorem ipsum dolor sit alea amet, consectetur adipiscing elit siru edilis. Phasellus lobortis mauris neque, nec ultrices neque tincidunt velas ila. Cum sociis natoque penatibus et magnis dis parturient montes este.</p>
					<img src="{% static "images/me.png" %}" alt="" />
				</div>
				<div class="about-grid">
					<div class="col-md-4 grid-about">
						<a href="#"><img src="{% static "images/in.png" %}" alt="" /></a>
						<h4>Typography</h4>
						<p>Lorem ipsum dolor sit alea et hike sit, alea consectetur este deus.</p>
					</div>
					<div class="col-md-4 grid-about">
						<a href="#"><img src="{% static "images/co.png" %}" alt="" /></a>
						<h4 class="design">UI ~ UX design</h4>
						<p>Lorem ipsum dolor sit alea et hike sit, alea consectetur este deus.</p>
					</div>
					<div class="col-md-4 grid-about">
						<a href="#"><img src="{% static "images/pe.png" %}" alt="" /></a>
						<h4 class="set">Illustations</h4>
						<p>Lorem ipsum dolor sit alea et hike sit, alea consectetur este deus.</p>
					</div>
					<div class="clearfix"> </div>				
				</div>
			</div>
		</div>
		<div class="bottom-grid">
			<div class="container">
				<ul>
					<li><a href="#"><span> </span></a></li>
					<li class="soc"><a href="#"><span> </span></a></li>
					<li class="apple"><a href="#"><span> </span></a></li>
					<li class="in" ><a href="#"><span> </span></a></li>
				</ul>
			</div>			
		</div>
		<div class="container">
			<div class="portfolio" id="portfolio">
				<div class="portfolio-top">
					<h3>SELECTED <span>WORKS</span></h3>
					<p>Lorem ipsum dolor sit alea amet, consectetur adipiscing elit. Phasellus lobortis mauris neque, nec ultrices neque tincidunt vel.</p>
				</div>
				<div class="col-8">
				<div id="ca-container" class="ca-container">
				    <div class="ca-wrapper">
				         <div class="ca-item ca-item-1">
						   <div class="ca-item-main">
								<div class="ca-icon"> 
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><label> </label> Branding / Logo</b>
									</div>
								</div>
								<div class="ca-icon1">
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
								<div class="ca-icon">
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
							</div>
						  </div>
						<div class="ca-item ca-item-2">
							<div class="ca-item-main">
								<div class="ca-icon">
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
								<div class="ca-icon2">
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
								<div class="ca-icon7">
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
							</div>
						</div>
						<div class="ca-item ca-item-3">
							<div class="ca-item-main">
								<div class="ca-icon">
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
								<div class="ca-icon3">
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
								<div class="ca-icon6">
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
							</div>
						</div>
						<div class="ca-item ca-item-4">
							<div class="ca-item-main">
								<div class="ca-icon"> 
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
								<div class="ca-icon4"> 
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
								<div class="ca-icon5">
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
						     </div>
						</div>
						<div class="ca-item ca-item-5">
							<div class="ca-item-main">
								<div class="ca-icon">
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
								<div class="ca-icon5"> 
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
								<div class="ca-icon4">
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
							</div>
						</div>
						<div class="ca-item ca-item-6">
							<div class="ca-item-main">
								<div class="ca-icon">
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
								<div class="ca-icon6"> 
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
								<div class="ca-icon3">
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
							</div>
						</div>
						<div class="ca-item ca-item-7">
							<div class="ca-item-main">
								<div class="ca-icon">
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
								<div class="ca-icon7"> 
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><label> </label> Branding / Logo</b>
									</div>
								</div>
								<div class="ca-icon2">
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
							</div>
						</div>
						<div class="ca-item ca-item-8">
							<div class="ca-item-main">
								<div class="ca-icon">
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
								<div class="ca-icon">
							<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>								
									</div>
									<div class="ca-icon1">
								<div class="sear-ic">
									<ul class="circle">
										<li><a href="#"><span> </span></a></li>
										<li class="search"><a href="#"><span> </span></a></li>
									</ul>
									<h6>PORTFOLIO  ITEM</h6>
									<b class="brand"><img src="{% static "images/aar.png" %}" alt="" /> Branding / Logo</b>
									</div>
								</div>
							</div>
						</div>
			    </div>
			<script type="text/javascript">
						$('#ca-container').contentcarousel();
					</script>
		   </div>		
			  </div>
		   </div>
			</div>
		<!---->
		<div class="study-case" id="study">
		<b class="in-line"> </b>
		<b class="in-line line-in"> </b>
			<div class="study ">
				<h3>THE YOSEMITE <span> PROJECT</span></h3>
				<small>Featured Case Study</small>
				<p>Lorem ipsum dolor sit alea amet, consectetur adipiscing elit. Phasellus lobortis mauris neque, nec ultrices neque tincidunt vel. Cum sociis natoque penatibus et magnis dis parturient montes daes liris asle demeter redius jacte rius asum vora etos cali maleas tenu lorem solor kelis anera.</p>
				<a class="case" href="#">View Case Study</a>
			</div>
			<div class="study case-study">
				<img class="img-responsive" src="{% static "images/stt.jpg" %}" alt="" />
			</div>
			<div class="clearfix"> </div>
		</div>
		<!---->
		<div class="contact" id="contact">
		<div class="container">
				<div class="contact-top">
					<h3>SELECTED <span>WORKS</span></h3>
					<p>Lorem ipsum dolor sit alea amet, consectetur adipiscing elit. Phasellus lobortis mauris neque, nec ultrices neque tincidunt vel.</p>
				</div>
				<form>
				<div class="contact-form">
					<input type="text" value="Your name" onfocus="this.value='';" onblur="if (this.value == '') {this.value = Your name';}">
					<input type="text" value=" Email*" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Email';}">
					<input type="text" value="Phone number" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Phone number';}">
					<input type="text" value="Subject" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Subject';}">
					<textarea cols="77" rows="6" value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Message';}">Message*</textarea>
				</div>	
					<div class="send">
						<input type="submit" value="Send message" >
					</div>
					</form>
				
		</div>
		<div class="contact-bottom">
			<div class="container">
				<h3>CONTACT WITH ME</h3>
					<ul class="social">
						<li><a href="#"><span> </span></a></li>
						<li class="been"><a href="#"><span> </span></a></li>
						<li class="angle"><a href="#"><span> </span></a></li>
						<li class="vimeo"><a href="#"><span> </span></a></li>
						<li class="facebook"><a href="#"><span> </span></a></li>
						<li class="twitter"><a href="#"><span> </span></a></li>
					</ul>
			</div>
		</div>
		</div>
	</div>
<!--//content-->
<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="logo-footer">
				<a href="#"><img src="{% static "images/logo-2.png" %}" alt="" /></a>
			</div>
			 <p class="footer-class">&copy; 2014 Template by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
			 <div class="clearfix"> </div>
		</div>
		 <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
</body>
</html>